<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>List Of All Employees</title>
<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> 
</head>
<body>
<script type="text/javascript" th:src="@{login.js}"></script>
	<div layout:fragment="content" th:remove="tag">
	<td><a href="#addModal" data-toggle="modal" class="btn btn-success" data-target="#myModalCreate">Add</a></td>
	<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone No</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
			<tbody>
				<tr th:each="empList : ${list}">
					<td th:text="${empList.id}"></td>
					<td th:text="${empList.name}"></td>
					<td th:text="${empList.email_}"></td>
					<td th:text="${empList.contactno}"></td>
					<td><a th:href="@{/edit/(id=${empList.id})}"class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
					<td><a href="#deleteModal" data-toggle="modal" class="btn btn-danger" id="${empList.id}" th:attr="id=${empList.id }" data-target="#delete-modal">Delete</a></td>
				</tr>
			</tbody>
	</table>
	<!--#Modal for delete employee-->
	<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this employee?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="delete_btn" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
     <!--#Modal for employee create-->
            <div class="myFormCreate">
                <form th:action="@{/save}" th:object="${createEmployee}" method="post">
                    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="modalLabelCreate" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabelCreate">Create Employee Record</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="alert alert-info">
                                        Input data to the fields
                                    </p>
                                    
                                     <div class="form-group">
                                        <label for="name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" id="name" name="name" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-form-label">Employee email:</label>
                                        <input type="text" class="form-control" id="email" name="email" value=""/>
                                    </div>
									<div class="form-group">
                                        <label for="department" class="col-form-label">Department:</label>
                                        <input type="text" class="form-control" id="department" name="department" value=""/>
                                    </div>
									<div class="form-group">
                                        <label for="contactno" class="col-form-label">Contact No:</label>
                                        <input type="number" class="form-control" id="contactno" name="contactno" value=""/>
                                    </div>
                                     <div class="form-group">
                                        <label for="gender" class="col-form-label">Gender:</label>
                                        <input type="text" class="form-control" id="gender" name="gender" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="usertype" class="col-form-label">UserType</label>
                                        <input type="text" class="form-control" id="usertype" name="usertype" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="col-form-label">Username:</label>
                                        <input type="text" class="form-control" id="username" name="username" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Password:</label>
                                        <input type="text" class="form-control" id="password" name="password" value=""/>
                                    </div>
                                     <div class="form-group">
                                        <label for="doj" class="col-form-label">DOJ:</label>
                                        <input type="text" class="form-control" id="doj" name="doj" value=""/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--End form-->
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script> -->
    <script>
        $('#delete-modal').on('show.bs.modal', function(e) {
            var $modal = $(this),
                empId = e.relatedTarget.id;
            	console.log(empId)
            	$(document).on("click", "#delete_btn", function(event){
                    $.ajax({
				         url:'/delete/'+empId,
				         method: 'GET',
				         contentType: 'application/json',
				         success: function (data) {
				          $('#delete-modal').modal('toggle')
				         },
				         fail : function( jqXHR, textStatus ) {
				          alert( "Request failed: " + textStatus );
				        }
				     })
                });
        })
    </script>
	<!-- <script type="text/javascript" th:src="@{/js/login.js}" src="../static/js/login.js"></script> -->
	</div>	
</body>
</html>